<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 2 of 3</title>
</head>
<body>
    <form action="/result" method="GET">
        <p style="color: red;"><strong>CAUTION!</strong> You will need a Spotify <strong>URI</strong>, not an <strong>URL</strong>!</p>
        <label for="input1">Spotify URI (without "spotify:playlist:")</label>
        <input id="input1" name="uri_input" placeholder="303PJ0NAhTgEsVIkNHnjxr">
        <button type="submit">Submit</button>
    </form>
    <p>Retriving playlists could take a while. Please be patient.</p>
    <p>If you think you've waited far too long, please refresh the page.</p>
</body>
</html>