<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 1 of 3</title>
</head>
<body>
    <p>You'll need to log in to Spotify first.</p>
    <a href="https://accounts.spotify.com/authorize?client_id=1dbaed12a128409b9e6398d58b7fbc93&response_type=code&redirect_uri=https://spotify-collaborative-playlist-analyzer.glitch.me/callback&scope=playlist-read-collaborative">Log in here</a>
</body>
</html>